

<section>
  <h2 class = "title">Warehouses</h2>
  <button type="submit" class="btn btn-primary w-100" id="find"(click)="getWarehouses()">Find</button>
</section>

<section>
  <ul class="warehouses">
    <li *ngFor="let warehouse of warehouses ">
      <button [class.selected]="warehouse === selectedWarehouse" type="button" (click)="onSelect(warehouse)">
        <span class="name">{{warehouse.id}}</span>
      </button>
    </li>
    <div class="divexit">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  

  <div class ="warehouses" *ngIf="selectedWarehouse">
    <h2 class = "info">Warehouse {{selectedWarehouse.id | uppercase}} Details</h2>
    <div class = "info">Designation: {{selectedWarehouse.designation}}</div>
    <div class = "info">Street: {{selectedWarehouse.street}}</div>
    <div class = "info">Door Number: {{selectedWarehouse.doorNumber}}</div>
    <div class = "info">Post Code: {{selectedWarehouse.postCode}}</div>  
    <div class = "info">City: {{selectedWarehouse.city}}</div> 
    <div class = "info">Latitude: {{selectedWarehouse.latitude}}</div> 
    <div class = "info">Longitude: {{selectedWarehouse.longitude}}</div> 
    <div class = "info">Altitude: {{selectedWarehouse.altitude}}</div>
    <div class = "info">Active: {{selectedWarehouse.active}}</div>
    <button class = "delete" type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteWarehouse(selectedWarehouse.id)">Delete Warehouse</button>  
    <button class = "inactivate" type="submit" class="btn btn-primary w-100" id="delete" id="Inactivate" (click)="inactivateWarehouse(selectedWarehouse.id)">Inactivate Warehouse</button>
    <button class = "activate" type="submit" class="btn btn-primary w-100" id="delete" id="Activate" (click)="activateWarehouse(selectedWarehouse.id)">Activate Warehouse</button>   

  </div>  
</section>

  
