

<section style="margin-left:10%;padding:1px 16px;height:100%;">
  <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Warehouses</h2>
  <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="getWarehouses"(click)="getWarehouses()">Find</button>
</section>

<section style="margin-left:10%;padding:1px 16px;height:auto;">
  <ul class="warehouses" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
    <li *ngFor="let warehouse of warehouses | paginate: {currentPage: p,itemsPerPage: count}">
      <button [class.selected]="warehouse === selectedWarehouse" type="button" (click)="onSelect(warehouse)">
        <span class="name">{{warehouse.id}}</span>
      </button>
    </li>
      <!--Including the pagination control.-->
      <div class="text-right" style="width: 500px;color:black;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!--<mat-paginator #paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>-->      
      </div>
    <div style="margin-top: 20px;">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  

  <div *ngIf="selectedWarehouse" style="margin-left: 15%;">
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Warehouse {{selectedWarehouse.id | uppercase}} Details</h2>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Designation: {{selectedWarehouse.designation}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Street: {{selectedWarehouse.street}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Door Number: {{selectedWarehouse.doorNumber}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Post Code: {{selectedWarehouse.postCode}}</div>  
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">City: {{selectedWarehouse.city}}</div> 
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Latitude: {{selectedWarehouse.latitude}}</div> 
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Longitude: {{selectedWarehouse.longitude}}</div> 
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Altitude: {{selectedWarehouse.altitude}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Active: {{selectedWarehouse.active}}</div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteWarehouse(selectedWarehouse.id)">Delete Warehouse</button>  
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="Inactivate" (click)="inactivateWarehouse(selectedWarehouse.id)">Inactivate Warehouse</button>  

  </div>  
</section>

  
