<h2>Login with google</h2>
<asl-google-signin-button></asl-google-signin-button>

<section>
    <h2 class="tittle">Login with email and password</h2>
    <form [formGroup] = "userForm">
        <div>
            <input type="text" class="form-control" id="userEmail" placeholder="Email" formControlName="email">
        </div>
        <br>

        <div>
            <input type="password" class="form-control" id="userPassword" placeholder="Password" formControlName="password">
        </div>
        <button class="login"  id="loginbtn" type="submit" (click)="login()">Login</button>
    </form>
  </section>
