
  
  <section>
    <h2 class = "title">Warehouses</h2>
    <form [formGroup] = "warehouseForm">
        <div>
            <input type="text" class="form-control" id="warehouseId" placeholder="Id" formControlName="id">
        </div>
        <button type="submit" class="btn btn-primary w-100" (click)="getWarehouseById()">Find</button>
    </form>
    <div class="divexit">
      <button routerLink="/home">Exit</button>
    </div>
  </section>
  
  <section>
    <div class ="warehouses" *ngIf="visible">
      <h2 class = "info">Warehouse {{warehouse.id | uppercase}} Details</h2>
      <div class = "info">Designation: {{warehouse.designation}}</div>
      <div class = "info">Street: {{warehouse.street}}</div>
      <div class = "info">Door Number: {{warehouse.doorNumber}}</div>
      <div class = "info">Post Code: {{warehouse.postCode}}</div>  
      <div class = "info">City: {{warehouse.city}}</div> 
      <div class = "info">Latitude: {{warehouse.latitude}}</div> 
      <div class = "info">Longitude: {{warehouse.longitude}}</div> 
      <div class = "info">Altitude: {{warehouse.altitude}}</div>
      <div class = "info">Active: {{warehouse.active}}</div>
      <button class = "delete" type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteWarehouse(visible.id)">Delete Warehouse</button> 
      <button class = "inactivate" type="submit" class="btn btn-primary w-100" id="Inactivate" (click)="inactivateWarehouse(visible.id)">Inactivate Warehouse</button>
      <button class = "activate" type="submit" class="btn btn-primary w-100" id="Activate" (click)="activateWarehouse(visible.id)">Activate Warehouse</button>   

    </div>  
  </section>  
    
  