<section style="margin-left:10%;padding:1px 16px;height:100%;">
    <form [formGroup] = "warehouseForm">
        <h1 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Warehouse Information:</h1>
        <div>
            <input type="text" class="form-control" id="warehouseId" placeholder="Id" formControlName="id">
        </div>
        
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Designation" id="warehouseDesignation" formControlName="warehouseDesignation">
        </div>
        
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Street" id="warehouseStreet" formControlName="warehouseStreet">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="Door Number" id="warehouseDoorNumber" formControlName="warehouseDoorNumber">
        </div>
        
        <br>
        <div>
            <input type="text" class="form-control mb-3" placeholder="Post Code" id="warehousePostCode" formControlName="warehousePostCode">
        </div>
        
        <br>
        <div>
            <input type="text" class="form-control mb-3" placeholder="City" id="warehouseCity" formControlName="warehouseCity">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="Latitude" id="warehouseLatitude" formControlName="warehouseLatitude">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="Longitude" id="warehouseLongitude" formControlName="warehouseLongitude">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="Altitude" id="warehouseAltitude" formControlName="warehouseAltitude">
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary w-100" id="createWarehouse" (click)="createWarehouse()">Save</button>
    </form>

    <br> 
    <br> 
    <div style="margin-top: 20px;">
        <button routerLink="/home">Exit</button>
    </div>
</section>

