 
<section style="margin-left:10%;padding:1px 16px;height:100%;">
    <form [formGroup] = "packagingForm">
        <h1 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Packaging Information:</h1>
        <div>
            <input type="text" class="form-control" id="packagingId" placeholder="Id" formControlName="id">
        </div>
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Delivery Id" id="packagingDeliveryId" formControlName="packagingDeliveryId">
        </div>
        <br>
        <div>
            <input type="text" class="form-control" id="packagingTruckId" placeholder="Packaging Truck Id" formControlName="packagingTruckId">
        </div>
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Position X" id="packagingPositionX" formControlName="packagingPositionX">
        </div>
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Position Y" id="packagingPositionY" formControlName="packagingPositionY">
        </div>
        <br>
        <div>
            <input type="text" class="form-control mb-3" placeholder="Position Z" id="packagingPositionZ" formControlName="packagingPositionZ">
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100" (click)="updatePackaging()">Save</button>
    </form>

    <div style="margin-top: 20px;">
        <button routerLink="/home">Exit</button>
    </div>
</section>

