<div>
  <button (click)="logout()">Logout </button>
</div>
<br>
<section>
    <ul>
      <li><a *ngIf="admin || warehouseManager" href="/createDeliveries">Create Deliveries</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/createPackagings">Create Packagings</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/updatePackagings">Update Packagings</a></li>
      <li><a *ngIf="admin || fleetManager" href="/createTrucks">Create Trucks</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/createSections">Create Sections</a></li>
      <li><a *ngIf="admin || warehouseManager" href="/createWarehouses">Create Warehouses</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/checkBestRoute">Check Route Planning</a></li>
      <li><a *ngIf="admin || warehouseManager" href="/getDeliveries">Get Deliveries</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/getSections">Get Sections</a></li>
      <li><a *ngIf="admin || logisticsManager" href="/getTrucks">Get Trucks</a></li>
      <li><a *ngIf="admin || warehouseManager" href="/getWarehouses">Get Warehouses</a></li>
      <li><a *ngIf="admin || warehouseManager" href="/updateWarehouses">Update Warehouses</a></li>
      <li><a *ngIf="admin || warehouseManager" href="/getWarehousesById">Get Warehouses by Id</a></li>
    </ul>
  </section>