<section>
        <form [formGroup]="loginForm">
            <div  >
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
            </div>
            <br> 
            <div>
                <input type="password" class="form-control mb-3" placeholder="Password" id="exampleInputPassword1" formControlName="password">
            </div>
                      <button type="submit" class="btn btn-primary w-100" (click)="login()">Login</button>
              </form>
</section>
