<section>
  <h2 class="title">Trucks</h2>
  <button type="submit" class="btn btn-primary w-100" id="find" (click)="getTrucks()">Find</button>
</section>
<section class="trucks">
  <ul class="trucks">
      <div *ngFor="let truck of trucks">
        <button [class.selected]="truck === selectedTruck" type="button" id="selectedTruck" (click)="onSelect(truck)">
          <span class="name">{{truck.plate}}</span>
        </button>
      </div>
    <div class="exitbtn">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  
  <div class="truckselect" *ngIf="selectedTruck">
    <h2 class="truck">Truck {{selectedTruck.name | uppercase}} Details</h2>
    <div class="truck">Plate: {{selectedTruck.plate}}</div>
    <div class="truck">Autonomy: {{selectedTruck.autonomy}}</div>
    <div class="truck">Max Battery: {{selectedTruck.maxBattery}}</div>
    <div class="truck">Pay Load: {{selectedTruck.payLoad}}</div>
    <div class="truck">Tare: {{selectedTruck.tare}}</div>  
    <div class="truck">Baterry Charging Time: {{selectedTruck.baterryChargingTime}}</div>
    <div class="truck">Active: {{selectedTruck.active}}</div>
    <button type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteTruck(selectedTruck.plate)">Delete Truck</button>  
    <button type="submit" class="btn btn-primary w-100" id="Inactive" (click)="inactiveTruck(selectedTruck.plate)">Inactive Truck</button>
    <button type="submit" class="btn btn-primary w-100" id="Activate" (click)="activateTruck(selectedTruck.plate)">Activate Truck</button>    
  </div>
</section>
  
