


<section style="margin-left:10%;padding:1px 16px;height:100%;">
  <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Trucks</h2>
  <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="find" (click)="getTrucks()">Find</button>
</section>
<section style="margin-left:10%;padding:1px 16px;height:auto;">
  <ul class="trucks" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
      <div *ngFor="let truck of trucks">
        <button [class.selected]="truck === selectedTruck" type="button" id="selectedTruck" (click)="onSelect(truck)">
          <span class="name">{{truck.plate}}</span>

        </button>
      </div>
    <div style="margin-top: 20px;">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  
  <div *ngIf="selectedTruck" style="margin-left: 15%;">
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Truck {{selectedTruck.name | uppercase}} Details</h2>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Plate: {{selectedTruck.plate}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Autonomy: {{selectedTruck.autonomy}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Max Battery: {{selectedTruck.maxBattery}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Pay Load: {{selectedTruck.payLoad}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Tare: {{selectedTruck.tare}}</div>  
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Baterry Charging Time: {{selectedTruck.baterryChargingTime}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">Active: {{selectedTruck.active}}</div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteTruck(selectedTruck.plate)">Delete Truck</button>  
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="Inactive" (click)="inactiveTruck(selectedTruck.plate)">Inactive Truck</button>  
  </div>
</section>
  
