

<section>
    <h2 class="title">Packagings</h2>
    <button type="submit" class="btn btn-primary w-100" id ="find"(click)="getPackagings();getUniqueArrayDate();getUniqueArrayWarehouse();">Find</button>
    <button *ngIf="flag" type="submit" class="btn btn-primary w-100" id="orderByDate" (click)="orderByDate()">Order by Date</button>
    <select [(ngModel)]="filterDate" *ngIf="flag" #cricket id="filterDate" (change)="filterDateAndWarehouse($event)">
      <option value="default" (click)="getUniqueArrayDate()">Filter by Date</option>
      <option *ngFor="let packaging of newArrayDate" [value]="packaging">
          {{packaging}}
      </option>
  </select>
    <button *ngIf="flag" type="submit" class="btn btn-primary w-100" id="orderByWarehouse" (click)="orderByWarehouseId()">Order by WarehouseId</button>
    <select [(ngModel)]="filterWarehouse" *ngIf="flag" #cricket (change)="filterDateAndWarehouse($event)">
      <option value="default">Filter by WarehouseId</option>
      <option *ngFor="let packaging of newArrayWarehouse" [value]="packaging">
          {{packaging}}
      </option>
  </select>  
  
  

</section>
  
  <section>
    <ul class="packagings">
      <li *ngFor="let packaging of packagings">
        <button [class.selected]="packaging === selectedPackaging" type="button" (click)="onSelect(packaging)">
          <span class="name">{{packaging.id}}</span>
        </button>
      </li>
      <div class="exitbtn">
        <button routerLink="/home">Exit</button>
      </div> 
    </ul>
    

    <div class="packselect" *ngIf="selectedPackaging">
      <h2 class="pack">Packaging {{selectedPackaging.id | uppercase}} Details</h2>
      <div class="pack">positionX: {{selectedPackaging.positionX}}</div>
      <div class="pack">positionY: {{selectedPackaging.positionY}}</div>
      <div class="pack">positionZ: {{selectedPackaging.positionZ}}</div>
      <div class="pack">truckPlate: {{selectedPackaging.truckPlate}}</div>
      <div class="pack">deliveryId: {{selectedPackaging.deliveryId}}</div>  
      <div class="pack">DeliveryDate: {{selectedPackaging.deliveryDate}}</div> 
      <div class="pack" >DeliveryWarehouseId: {{selectedPackaging.deliveryWarehouseId}}</div> 
    </div>
  </section>
  