

<section style="margin-left:10%;padding:1px 16px;height:100%;">
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">packagings</h2>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id ="find"(click)="getPackagings()">Find</button>
  </section>
  
  <section style="margin-left:10%;padding:1px 16px;height:100%;">
    <ul class="packagings" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
      <li *ngFor="let packaging of packagings">
        <button [class.selected]="packaging === selectedPackaging" type="button" (click)="onSelect(packaging)">
          <span class="name">{{packaging.id}}</span>
        </button>
      </li>
      <div style="margin-top: 20px;">
        <button routerLink="/home">Exit</button>
      </div> 
    </ul>
    
  
    <div *ngIf="selectedPackaging" style="margin-left: 15%;">
      <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Packaging {{selectedPackaging.id | uppercase}} Details</h2>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">positionX: {{selectedPackaging.positionX}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">positionY: {{selectedPackaging.positionY}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">positionZ: {{selectedPackaging.positionZ}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">truckPlate: {{selectedPackaging.truckPlate}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryId: {{selectedPackaging.deliveryId}}</div>  
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">DeliveryDate: {{selectedPackaging.deliveryDate}}</div> 
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">DeliveryWarehouseId: {{selectedPackaging.deliveryWarehouseId}}</div> 
    </div>
  </section>
  