<section >
    <form [formGroup] = "planningForm">
        <h1>Planning Genetic Algorithm:</h1>
        <div>
          <input type="date" class="form-control mb-3" placeholder="Delivery Date" id="deliveryDate" formControlName="deliveryDate">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="numGer" placeholder="Number of generations " formControlName="numGer">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="dimPop" placeholder="Population Dimension" formControlName="dimPop">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="perC" placeholder="Percentage of C " formControlName="perC">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="perM" placeholder="Percentage of M " formControlName="perM">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="refValue" placeholder="Reference Value " formControlName="refVal">
        </div>
        <br>

        <button type="submit" class="btn btn-primary w-100" (click)="checkRouteGenetic()">Best Route</button>
    </form>
  </section>
  
  <!-- <section >
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Route:</h2>
    <ul class="deliveries" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
      <li *ngFor="let delivery of deliveries">
        <button [class.selected]="delivery === selectedDelivery" type="button" (click)="onSelect(delivery)">
          <span class="name">{{delivery.id}}</span>
        </button>
      </li>
      <div style="margin-top: 20px;">
        <button routerLink="/home">Exit</button>
      </div>
    </ul>
  
  
    <div *ngIf="selectedDelivery" style="margin-left: 15%;">
      <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">{{selectedDelivery.id | uppercase}} Details</h2>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryDate: {{selectedDelivery.deliveryDate}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">loadTime: {{selectedDelivery.loadTime}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">unloadTime: {{selectedDelivery.unloadTime}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">totalWeight: {{selectedDelivery.totalWeight}}</div>
      <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryWarehouseId: {{selectedDelivery.deliveryWarehouseId}}</div>
    </div>
  </section> -->


  <section >
    <ul class="deliveries" style="background-color:rgba(224, 255, 255, 0);">
      <li *ngFor="let plan of deliveries; let i = index">
        <h2>Truck {{trucks[i]}}</h2>
        <ul class="deliveries" style="background-color:rgba(224, 255, 255, 0);">
          <li *ngFor="let delivery of plan">
            <button [class.selected]="delivery === selectedDelivery" type="button" (click)="onSelect(delivery)">
              <span class="name">{{delivery.id}}</span>
            </button>
          </li>
        </ul>

        <br>
        <br>
      </li>
      <div *ngIf="selectedDelivery" style="margin-left: 15%; margin-top: -300px;position: static;">
        <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">{{selectedDelivery.id | uppercase}} Details</h2>
        <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryDate: {{selectedDelivery.deliveryDate}}</div>
        <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">loadTime: {{selectedDelivery.loadTime}}</div>
        <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">unloadTime: {{selectedDelivery.unloadTime}}</div>
        <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">totalWeight: {{selectedDelivery.totalWeight}}</div>
        <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryWarehouseId: {{selectedDelivery.deliveryWarehouseId}}</div>
      </div>

    </ul>
    
  </section>
  
  
  
  