<section >
    <form [formGroup] = "planningForm">
        <h1>Planning Genetic Algorithm:</h1>
        <div>
          <input type="date" class="form-control mb-3" placeholder="Delivery Date" id="deliveryDate" formControlName="deliveryDate">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="numGer" placeholder="Number of generations " formControlName="numGer">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="dimPop" placeholder="Population Dimension" formControlName="dimPop">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="perC" placeholder="Percentage of C " formControlName="perC">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="perM" placeholder="Percentage of M " formControlName="perM">
        </div>
        <br>
        <div  >
            <input type="number" class="form-control" id="refValue" placeholder="Reference Value " formControlName="refVal">
        </div>
        <br>

        <button type="submit" class="btn btn-primary w-100" (click)="checkRouteGenetic()">Best Route</button>
        <br>
        <br>
        <button type="submit" class="btn btn-primary w-100" (click)="exit()">Exit</button>

    </form>
  </section>
  



  <section >
    <ul class="deliveries">
      <li *ngFor="let plan of deliveries; let i = index">
        <h2 class="info" >Truck {{trucks[i]}}</h2>
        <ul class="deliveries">
          <li *ngFor="let delivery of plan">
            <button [class.selected]="delivery === selectedDelivery" type="button" (click)="onSelect(delivery)">
              <span class="name">{{delivery.id}}</span>
            </button>
          </li>
        </ul>

        <br>
        <br>
      </li>
      <div class = "details " *ngIf="selectedDelivery" >
        <h2 class="info" >{{selectedDelivery.id | uppercase}} Details</h2>
        <div class="info" >deliveryDate: {{selectedDelivery.deliveryDate}}</div>
        <div class="info"  >loadTime: {{selectedDelivery.loadTime}}</div>
        <div class="info" >unloadTime: {{selectedDelivery.unloadTime}}</div>
        <div class="info" >totalWeight: {{selectedDelivery.totalWeight}}</div>
        <div class="info" >deliveryWarehouseId: {{selectedDelivery.deliveryWarehouseId}}</div>
      </div>

    </ul>
    
  </section>
  
  
  
  