
  <section >
    <h2 class="tittle" >User</h2>
    <form [formGroup] = "userForm">
        <div>
            <input type="text" class="form-control" id="userEmail" placeholder="Email" formControlName="email">
        </div>
        <br>
        <button class="find" type="submit" class="btn btn-primary w-100" (click)="getUser()">Find</button>
    </form>
    <div class="exit" >
      <button routerLink="/home">Exit</button>
    </div>
  </section>
  
  <section>
    <div *ngIf="visible" >
      <h2 class="info" >User Details</h2>
      <div class="info" >First Name: {{user.userDTO.firstName}}</div>
      <div class="info" >Last Name: {{user.userDTO.lastName}}</div>
      <div class="info" >Email: {{user.userDTO.email}}</div>
      <div class="info" >Phone Number: {{user.userDTO.phoneNumber}}</div> 
      <br> 
      <button class="delete" type="submit" class="btn btn-primary w-100" id="Delete" (click)="deleteUser(visible.email)">Delete User</button> 
    </div>  
  </section>  
    