 

<section>

    <form [formGroup] = "packagingForm">

      <h1>Packaging Information:</h1>
      
      <div>
        <input type="text" class="form-control" id="packagingId" placeholder="Id" formControlName="id">
      </div>
      
      <br> 
      <select #cricket (change)="updateDelivery($event)">
        <option value="default">choose a delivery</option>
        <option *ngFor="let delivery of deliveries" [value]="delivery.id">
            {{delivery.id}}
        </option>
    </select>
    <br>
      <br>
      <div>
        <select #cricket (change)="updateTruck($event)">
          <option value="default">choose a truck</option>
          <option *ngFor="let truck of trucks" [value]="truck.plate">
              {{truck.plate}}
          </option>
      </select>
      </div>
      
      <br> 
      <div>
        <input type="text" class="form-control mb-3" placeholder="Position X" id="packagingPositionX" formControlName="packagingPositionX">
      </div>
      
      <br> 
      <div>
        <input type="text" class="form-control mb-3" placeholder="Position Y" id="packagingPositionY" formControlName="packagingPositionY">
      </div>
      
      <br>
      <div>
        <input type="text" class="form-control mb-3" placeholder="Position Z" id="packagingPositionZ" formControlName="packagingPositionZ">
      </div>
      
      <br>
      <button type="submit" class="btn btn-primary w-100" id="createPackaging" (click)="createPackaging()">Save</button>
    </form>

    <br> 
    <br> 
    <div class="exitbtn">
        <button routerLink="/home">Exit</button>
    </div>
</section>

