
<section style="margin-left:10%;padding:1px 16px;height:100%;">
    <form [formGroup] = "truckForm">
        <h1 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Truck Information:</h1>
        <div>
            <input type="text" class="form-control" id="truckId" placeholder="Id" formControlName="id">
        </div>
        
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="Plate" id="plate" formControlName="plate">
        </div>
        
        <br>
        <div>
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="autonomy" id="autonomy" formControlName="autonomy">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="maxBattery" id="maxBattery" formControlName="maxBattery">
        </div>
        
        <br>
        <div>
            <input type="number" class="form-control mb-3" placeholder="payLoad" id="payLoad" formControlName="payLoad">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="tare" id="tare" formControlName="tare">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="baterryChargingTime" id="BaterryChargingTime" formControlName="baterryChargingTime">
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary w-100" id="createTruck" (click)="createTruck()">Save</button>
    </form>

    <br> 
    <br> 
    <div style="margin-top: 20px;">
        <button routerLink="/home">Exit</button>
    </div>
</section>
