 
<section style="margin-left:10%;padding:1px 16px;height:auto;">
  <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Sections</h2>
  <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100"id="getSections" (click)="getSections()">Find</button>
</section>

<section style="margin-left:10%;padding:1px 16px;height:auto;">
  <ul class="sections" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
    <li *ngFor="let section of sections | paginate: {currentPage: p,itemsPerPage: count}">
      <button [class.selected]="section === selectedSection" type="button" (click)="onSelect(section)">
        <span class="name">{{section.warehouseOrigin}} to {{section.warehouseDestiny}}</span>
      </button>
    </li>
    <!--Including the pagination control.-->
    <div class="text-right" style="width: 500px;color:black;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!--<mat-paginator #paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>-->      
    </div>
    <div style="margin-top: 20px;">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  
  
  <div *ngIf="selectedSection" style="margin-left: 15%;">
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Section {{selectedSection.warehouseOrigin | uppercase}} to {{selectedSection.warehouseDestiny | uppercase}} Details</h2>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">duration: {{selectedSection.duration}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">distance: {{selectedSection.distance}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">energySpent: {{selectedSection.energySpent}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">extraTime: {{selectedSection.extraTime}}</div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100" id="delete" (click)="deleteSection(selectedSection.id)">Delete Section</button>
  </div>
</section>
  