<section >
  <h2 class="title">Sections</h2>
  <button style="margin-top: 20px;" type="submit" class="btn btn-primary w-100"id="getSections" (click)="getSections()">Find</button>
</section>

<section class="sections">
  <ul class="sections">
    <li *ngFor="let section of sections">
      <button [class.selected]="section === selectedSection" type="button" (click)="onSelect(section)">
        <span class="name">{{section.warehouseOrigin}} to {{section.warehouseDestiny}}</span>
      </button>
    </li>
    <div class="text-right">
      <button [disabled]="this.skip===0" (click)="back()">Back</button>
      <button [disabled]="this.limitNext" (click)="next()">Next</button>
      <select #cricket (change)="updateLimit($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
    <div class="exitbtn">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>
  
  
  <div class="secselect" *ngIf="selectedSection">
    <h2 class="sec">Section {{selectedSection.warehouseOrigin | uppercase}} to {{selectedSection.warehouseDestiny | uppercase}} Details</h2>
    <div class="sec">duration: {{selectedSection.duration}}</div>
    <div class="sec">distance: {{selectedSection.distance}}</div>
    <div class="sec">energySpent: {{selectedSection.energySpent}}</div>
    <div class="sec">extraTime: {{selectedSection.extraTime}}</div>
    <button type="submit" class="btn btn-primary w-100" id="delete" (click)="deleteSection(selectedSection.id)">Delete Section</button>
  </div>
</section>
  