<section>
    <style> 
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 10%;
            background-color: #0090a3a5;
            position: fixed;
            height: 100%;
            overflow: auto;
        }
        
        li a {
            text-align: center;
            border-bottom: 1px solid #555;
            display: block;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        li a:hover {
            background-color: #00d643;
            color: white;
        }
        
    </style>
      
      
    <ul style="border: 1px solid #555;">
      <li><a href="/createDeliveries">Create Deliveries</a></li>
      <li><a href="/createPackagings">Create Packagings</a></li>
      <li><a href="/updatePackagings">Update Packagings</a></li>
      <li><a href="/createTrucks">Create Trucks</a></li>
      <li><a href="/createSections">Create Sections</a></li>
      <li><a href="/createWarehouses">Create Warehouses</a></li>
      <li><a href="/checkBestRoute">Check Route Planning</a></li>
      <li><a href="/getDeliveries">Get Deliveries</a></li>
      <li><a href="/getSections">Get Sections</a></li>
      <li><a href="/getTrucks">Get Trucks</a></li>
      <li><a href="/getWarehouses">Get Warehouses</a></li>
      <li><a href="/updateWarehouses">Update Warehouses</a></li>
      <li><a href="/getWarehousesById">Get Warehouses by Id</a></li>
    </ul>
</section>

<section style="margin-left:10%;padding:1px 16px;height:auto;">
    <form [formGroup] = "sectionForm">
        <h1 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Section Information:</h1>
        
        <div>
            <input type="text" class="form-control" id="sectionId" placeholder="Id" formControlName="id">
        </div>
        <br> 
        <div>
            <input type="text" class="form-control mb-3" placeholder="WarehouseOrigin Id" id="warehouseOrigin" formControlName="warehouseOrigin">
        </div>
        
        <br>
        <div>
            <input type="text" class="form-control" id="warehouseDestiny" placeholder="warehouseDestiny Id" formControlName="warehouseDestiny">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="duration" id="duration" formControlName="duration">
        </div>
        
        <br> 
        <div>
            <input type="number" class="form-control mb-3" placeholder="distance" id="distance" formControlName="distance">
        </div>
        
        <br>
        <div>
            <input type="number" class="form-control mb-3" placeholder="energySpent" id="energySpent" formControlName="energySpent">
        </div>
        
        <br>
        <div>
            <input type="number" class="form-control mb-3" placeholder="extraTime" id="extraTime" formControlName="extraTime">
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary w-100" id="createSection" (click)="createSection()">Save</button>
    </form>

    <br> 
    <br> 
    <div style="position: fixed;z-index: 999;">
        <button routerLink="/home">Exit</button>
    </div>
</section>

