 



<section style="margin-left:10%;padding:1px 16px;height:100%;">
  <form [formGroup] = "planningForm">
      <h1 style="color:#369;font-family: Arial, Helvetica, sans-serif;margin-top: 150px;">Insert Truck and Date to see planning route:</h1>
      <select #cricket (change)="updateTruck($event)">
        <option value="default">Truck plate</option>
        <option *ngFor="let truck of trucks" [value]="truck.name">
            {{truck.plate}}
        </option>
    </select>
      <br> 
      <br> 
      <div>
        <input type="date" class="form-control mb-3" placeholder="Delivery Date" id="deliveryDate" formControlName="deliveryDate">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary w-100" (click)="checkBestPossibleRoute()">Best Route</button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary w-100" (click)="checkRouteHeuristicMass()">Heuristic Mass</button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary w-100" (click)="checkRouteHeuristicTime()">Heuristic Time</button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary w-100" (click)="checkRouteHeuristicTimeAndMass()">Heuristic Time and Mass</button>
  </form>
</section>

<section style="margin-left:10%;padding:1px 16px;height:auto;">
  <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">Route:</h2>
  <div style="color:#369;font-family: Arial, Helvetica, sans-serif;"> Tempo total: {{custo}}</div>
  <ul class="deliveries" style="background-color:rgba(224, 255, 255, 0);margin-top: 25px;position: absolute;">
    <li *ngFor="let delivery of deliveries">
      <button [class.selected]="delivery === selectedDelivery" type="button" (click)="onSelect(delivery)">
        <span class="name">{{delivery.id}}</span>
      </button>
    </li>
    <div style="margin-top: 20px;">
      <button routerLink="/home">Exit</button>
    </div>
  </ul>


  <div *ngIf="selectedDelivery" style="margin-left: 15%;">
    <h2 style="color:#369;font-family: Arial, Helvetica, sans-serif;">{{selectedDelivery.id | uppercase}} Details</h2>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryDate: {{selectedDelivery.deliveryDate}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">loadTime: {{selectedDelivery.loadTime}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">unloadTime: {{selectedDelivery.unloadTime}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">totalWeight: {{selectedDelivery.totalWeight}}</div>
    <div style="color:#369;font-family: Arial, Helvetica, sans-serif;">deliveryWarehouseId: {{selectedDelivery.deliveryWarehouseId}}</div>
  </div>
</section>



